.titre {
  display: flex;
  justify-content: center;
  margin-top: 7em;
}

.container {
  margin-bottom: 2em;
}
.chan {
  border: none;
  background: rgba($color: darkgrey, $alpha: 1);
  color: white;
  border-radius: 5%;
  margin: 2em;
}