<div class="container">
  <div class="titre">
    <h1>Mon profil</h1>
  </div>
  <label>Prenom</label>
  <input class="form-control" type="text" placeholder="Prenom">
  <label>Nom</label>
  <input class="form-control" type="text" placeholder="Nom">
  <label>Password</label>
  <input class="form-control" type="password" placeholder="Password">
  <label>Adresse</label>
  <input class="form-control" type="text" placeholder="Adresse">
  <label>Ville</label>
  <input class="form-control" type="text" placeholder="Ville">
  <label>Telephone</label>
  <input class="form-control" type="text" placeholder="Telephone">
</div>
