<!--Section: Features v.1-->
<div class="text-center">
    <!--Section heading-->
    <h1>Ce que nous <strong>faisons</strong></h1>
    <div class="des">
         <div class="kun text-center">
            <img class="center" src="assets/Logos/rouage.svg">
            <h5 class="font-weight-bold mt-3">Transformation Opérationelle</h5>
            <p> Loquimur vel vita vita iis habeat aut <strong>quidem</strong> qui numero aut vita vitii accedunt <strong>vita</strong> oculos concedere iis accepimus perfecta maxime amicis iis et impetrare loquimur sunt sed proxime impetrare.</p>
            <button type="button" class="bouton-chan" >Plus de détails</button>
        </div>
        <div class="kun text-center">
            <img class="center" src="assets/Logos/valise.svg">
            <h5 class="font-weight-bold mt-3">Conseil</h5>
            <p> Loquimur vel vita vita <strong>iis</strong> habeat aut quidem qui numero aut vita vitii accedunt vita oculos concedere iis <strong>accepimus</strong> perfecta maxime amicis iis et impetrare loquimur sunt sed proxime impetrare.</p>
        </div>

        <div class="kun text-center">
            <img class="center" src="assets/Logos/eclair.svg">
            <h5 class="font-weight-bold mt-3">Service</h5>
            <p> Loquimur vel vita vita iis habeat aut quidem qui numero aut vita <strong>vitii</strong> accedunt vita oculos concedere iis accepimus perfecta maxime amicis iis et impetrare loquimur sunt <strong>sed</strong> proxime impetrare.</p>
            <button type="button" class="bouton-kun" >Faire un devis</button>
        </div>   
    </div>
    <div class="des">
         <div class="kun text-center">
            <img class="center" src="assets/Logos/rouage.svg">
            <h5 class="font-weight-bold mt-3">Digital Factory</h5>
            <p> Loquimur vel vita vita iis habeat aut <strong>quidem</strong> qui numero aut vita vitii accedunt <strong>vita</strong> oculos concedere iis accepimus perfecta maxime amicis iis et impetrare loquimur sunt sed proxime impetrare.</p>
            <button type="button" class="bouton-chan" >Site Digital Factory</button>
        </div>
        <div class="kun text-center">
            <img class="center" src="assets/Logos/valise.svg">
            <h5 class="font-weight-bold mt-3">Audit Flash</h5>
            <p> Loquimur vel vita vita <strong>iis</strong> habeat aut quidem qui numero aut vita vitii accedunt vita oculos concedere iis <strong>accepimus</strong> perfecta maxime amicis iis et impetrare loquimur sunt sed proxime impetrare.</p>
            <button type="button" class="bouton-des" >Plus de détails</button>
        </div>

        <div class="kun text-center">
            <img class="center" src="assets/Logos/eclair.svg">
            <h5 class="font-weight-bold mt-3">Service</h5>
            <p> Loquimur vel vita vita iis habeat aut quidem qui numero aut vita <strong>vitii</strong> accedunt vita oculos concedere iis accepimus perfecta maxime amicis iis et impetrare loquimur sunt <strong>sed</strong> proxime impetrare.</p>
            <button type="button" class="bouton-kun" >Faire un devis</button>
        </div>   
    </div>
</div>
