<div class="navchan">
  <logo><a class="navbar-brand" href="#"><img style="height: 3rem;" src="assets/LogoT_W.png"></a></logo>
  <div class="connect">
      <div *ngIf="!userConnecte">
          <button (click)="affichageConnect()">Se connecter</button>
          <div *ngIf="connexion">
              <span class="menu">User Name: </span>
              <input type="text" [(ngModel)]="userName"> &nbsp;
              <span class="menu">Password: </span>
              <input type="password" [(ngModel)]="pwd">
              <button (click)="connection()">Connect</button>
          </div>
      </div>
      <div *ngIf="userConnecte">
          <span class="menu">Bonjour {{userName}}</span>&nbsp;
          <button (click)="disconnect()">Se Déconnecter</button>
      </div>
  </div>
</div>