<div class="view intro chan" style="background-image: url(assets/StockSnap_2XCM40KGL8.jpg);">
    <div class="intro-info-content text-center transparent">
        <div>
            <h1>Les <strong>chiffres en 2018</strong></h1>
        </div>
        <div class="des">
            <div class="kun text-center">
                <img class="center" src="assets/Logos/3.svg" >
                <h3 class="font-weight-bold mt-3">Cabinets</h3>
            </div>
            <div class="kun text-center">
                <img class="center" src="assets/Logos/86.svg">
                <h3 class="font-weight-bold mt-3">Consultants</h3>
            </div>

            <div class="kun text-center">
                <img class="center" src="assets/Logos/36m.svg">
                <h3 class="font-weight-bold mt-3">Chiffre d'affaire</h3>
            </div>
        </div>
    </div>
</div>