<div class="view intro chan" style="background-image: url(assets/stefan-stefancik-257625.jpg);">
    <div class="full-bg-img mask "style="height: 100%;">
        <div class="container" style="height: 100%;">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 100%;">
                <div class="row mt-5" style="height: 100%;">
                    <div class="col-md-12 wow fadeIn mb-3 chan" style="height: 100%;">                      
                        <div class="intro-info-content text-center transparent">
                            <div class="sama">
                                <h1 class="h1" data-wow-delay="0.3s"><strong>Transformation</strong> opérationelle </h1><br><br>
                                <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Funditur amnis Armeniorum Gnaeus provincias Cassii mare Cassii <strong>Romanae</strong> Romanae mare celsi pedes Orontes pedes.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

