.des    {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.kun    {
    flex-grow: 1;
    width: 30%;
}
.chan   {
    margin-top: 2%;
    margin-bottom: 2%;
}