<!--Section: Features v.1-->
<div class="text-center chan">
    <!--Section heading-->
    <h1>Contactez-<strong>nous !</strong></h1>
    <div class="des">
         <div class="kun text-center">
            <h3 class="font-weight-bold mt-3">Aix</h3>
            <p> 8 Rue de la poupée qui tousse</p>
            <p>13000 Aix-en-Provence</p>
            <br><br> <p>+33 7 22 30 43 70</p>
        </div>
        <div class="kun text-center">
            <h3 class="font-weight-bold mt-3">Toulouse</h3>
            <p>23 rue du petit chicot</p>
            <p>31000 Toulouse</p>
            <br><br> <p>+33 4 34 26 33 70</p>
        </div>

        <div class="kun text-center">
            <h3 class="font-weight-bold mt-3">Rennes</h3>
            <p>2 rue du professeur Pierre Velas</p>
            <p>35200 Rennes</p>
            <br><br> <p>+33 7 22 30 70</p>
        </div>   
    </div>
</div>